<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>PlaSMo Data Portal</display-name>
  
  
  <listener>
        <listener-class>uk.ac.ed.plasmo.control.StartupListener</listener-class>
  </listener>
  
  
  <filter>
    <filter-name>jspControl</filter-name>
    <filter-class>uk.ac.ed.plasmo.control.JspControlFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>jspControl</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>redirectControl</filter-name>
    <filter-class>uk.ac.ed.plasmo.control.RedirectControlFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>redirectControl</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>accessControl</filter-name>
    <filter-class>uk.ac.ed.plasmo.control.AccessControlFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>accessControl</filter-name>
    <url-pattern>/new/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JSPs</web-resource-name>
      <url-pattern>/jsp/*</url-pattern>
    </web-resource-collection>
    <auth-constraint />
  </security-constraint>
  
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.action</welcome-file>
    <welcome-file>index.shtml</welcome-file>
  </welcome-file-list>
</web-app>
