<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    
      
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <!--
    <RollingFile name="RobustFile" fileName="${mysubdir}/biodare.log"
        append="true"
        filePattern="${mysubdir}/biodare.%d{yyyy-ww}.log">
      <PatternLayout>
        <pattern>%d %5p (%c:%L) - %m%n</pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"/>
      </Policies>      
    </RollingFile>-->
    
  </Appenders>
  
  <Loggers>
      
    <Root level="info">
      <AppenderRef ref="Console"/>
      <!--<AppenderRef ref="RobustFile"/>-->
    </Root>
  </Loggers>
</Configuration>